<div class="navbar navbar-inverse header">
  <div class="navbar-inner">
    <%= link_to "Hamsters Online", root_path, class: "brand" %>
    <ul class="nav">
      <li class="dropdown">
      <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
        Clubs
        <span class="caret"></span>
      <% end %>
      <ul class="dropdown-menu">
        <li class="nav-header">Your clubs</li>
      </ul>
      </li>
      <li class="dropdown">
      <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
        Shows
        <span class="caret"></span>
      <% end %>
      <ul class="dropdown-menu">
        <li class="nav-header">Your Shows</li>
      </ul>
      </li>
    </ul>
    <ul class="pull-right nav">
      <% if current_user %>
        <li class="dropdown">
        <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
          <%= current_user.email %>
          <span class="caret"></span>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
        </li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
      <%end%>
    </ul>
  </div>
</div>